@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
  /*le agrego una transición para que lo haga de apoco, 2 segundos demora y es igual para todos, lineal*/
  transition: all 2000ms linear; /*no es bueno aplicarlo en el body, sino que hay que hacerlo en cada elemento*/
}

h1 {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: grey;
  padding: .5em 1em;
}

.contenedor {
  margin: 2em 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 1.5em;
  width: 30em;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 1em;
  margin-bottom: .2em;
}


/* estilos para tema oscuro ---------------------------------------------------------------------------------------------- */
/* los suigientes estilos son los que usaremos para aplicar el modo oscuro, ustedes deberán modificar los selectores para
poder resolver el ejercicio */


/*el color de fondo */
body.dark{
  background-color: rgb(39, 39, 39);
}

/*las modificaciones al titulo 'la familia de los felinos*/
.dark h1{ 
  background-color: rgb(19, 19, 19);
  border-color: black;
  color: rgb(170, 170, 170);
}

/*las modificaciones a los items*/
.dark .item{
  background-color: rgb(19, 19, 19);
  border-color: black;
}

/*las modificaciones a los textos de los items y los titulos de ellos*/
.dark .item h2, .dark .item p{
  color: rgb(230, 230, 230);
}
